<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dahai.dhybird">

    <application>
        <activity
            android:name=".utils.FileDisplayActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/DHybirdTheme"></activity>

    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
